@import 'sass/reset.scss';
@import 'sass/html5.scss';

$color_dark: #d0006e; // dark
$color_main: #e73a95; // main
$color_lighter: #e768ab; // lighter
$color_darker: #870047; // darker

body {
    @include reset-spacing;

    background: $color_dark;
    font-family: Arial;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
}

div#canvas {
    @include box-shadow(0, 0, 9, 2, rgba(0, 0, 0, 0.4));
    
    position: relative;
    margin: 20px auto;
    width: 900px;
    min-height: 300px;
    overflow: hidden;
    background: $color_main;
}

div#header {
	background: $color_darker;
	border-bottom: 1px solid #ffffff;

    h1 {
        @include text-shadow(3, 3, 9, $color_dark);

		margin: 0;
        padding: 20px;
        font-family: 'Leckerli One', cursive;
        font-size: 28px;
        font-weight: normal;
        color: #ffffff;
   	}
   	div#score {
   	    position: absolute;
   	    top: 20px;
   	    right: 20px;
   	    display: none;
   	}
}

ul#navigation {
    @include reset-list;

    position: absolute;
    right: 20px;
    bottom: 20px;

    li {
        margin: 0 0 10px 0;
        
        a {
            @include rounded-corners(3);

            display: block;
            padding: 0 10px;
            background: $color_darker;
            border: 1px solid #ffffff;
            font-family: 'Leckerli One', cursive;
            font-size: 24px;
            line-height: 30px;
            color: #ffffff;
            text-decoration: none;
        }
    }
}

div#memory {
    padding: 20px;
}

ul#cards {
    @include reset-list;

    width: 430px;
    overflow: hidden;

    li {
        @include rounded-corners(3);

        float: left;
        margin: 0 5px 5px 0;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 1px solid #000;
        background: #ffffff;

		&:hover {
		    @include box-shadow(0, 0, 60, 5, $color_lighter, 'inset');
		}
        img {
            @include disable-user-select;

            visibility: hidden;
        }
        &.show img {
            visibility: visible;
        }
   	}
}

span.label {
    @include text-shadow(1, 1, 6, #ffffff);

  	float: left;
  	padding: 0 10px 0 0;
  	color: #ffffff;
}

span.digit {
	@include rounded-corners(3);
	@include simple-vertical-gradient(#ffffff, #cccccc);
	@include text-shadow(1, 1, 2, #aaaaaa);

	float: left;
	display: block;
	margin: 0 2px 0 0;
	padding: 2px 5px;
	border: 1px solid #000000;
	font-weight: bold;
}

div#time {
    position: absolute;
    top: 80px;
    right: 20px;

    span.digit {
        font-size: 30px;
        line-height: 40px;
   	}
	&.alert span.digit {
	    background: red;
		color: #ffffff;
	}
}