body {
  margin: 0;
  padding: 0;
  background: #d0006e;
  font-family: Arial;
  font-size: 12px;
  line-height: 19px;
  color: #000000; }

div#canvas {
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 20px auto;
  width: 900px;
  min-height: 300px;
  overflow: hidden;
  background: #e73a95; }

div#header {
  background: #870047;
  border-bottom: 1px solid #ffffff; }
  div#header h1 {
    text-shadow: 3px 3px 9px #d0006e;
    filter: dropshadow(color=#d0006e, offx=3, offy=3);
    margin: 0;
    padding: 20px;
    font-family: 'Leckerli One', cursive;
    font-size: 28px;
    font-weight: normal;
    color: #ffffff; }
  div#header div#score {
    position: absolute;
    top: 20px;
    right: 20px; }

ul#navigation {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  position: absolute;
  right: 20px;
  bottom: 20px; }
  ul#navigation a {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    padding: 0 10px;
    background: #870047;
    border: 1px solid #ffffff;
    font-family: 'Leckerli One', cursive;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none; }

div#cards {
  padding: 20px; }

ul.cards {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  width: 430px;
  overflow: hidden; }
  ul.cards li {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    margin: 0 5px 5px 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #000;
    background: #ffffff; }
    ul.cards li:hover {
      -webkit-box-shadow: inset 0px 0px 60px 5px #e768ab;
      -moz-box-shadow: inset 0px 0px 60px 5px #e768ab;
      box-shadow: inset 0px 0px 60px 5px #e768ab; }
    ul.cards li img {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      visibility: hidden; }
    ul.cards li.show img {
      visibility: visible; }

span.label {
  text-shadow: 1px 1px 6px white;
  filter: dropshadow(color=white, offx=1, offy=1);
  float: left;
  padding: 0 10px 0 0;
  color: #ffffff; }

span.digit {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(top, white 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start_color', endColorstr='$end_color',GradientType=0 );
  /* IE6-9 */
  text-shadow: 1px 1px 2px #aaaaaa;
  filter: dropshadow(color=#aaaaaa, offx=1, offy=1);
  float: left;
  display: block;
  margin: 0 2px 0 0;
  padding: 2px 5px;
  border: 1px solid #000000;
  font-weight: bold; }

div#time {
  position: absolute;
  top: 80px;
  right: 20px; }
  div#time span.digit {
    font-size: 30px;
    line-height: 40px; }
  div#time.alert span.digit {
    background: red;
    color: #ffffff; }
